body {
    text-align: center;
    background-image: url("bg.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    color: blue;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    height: 100%;
}

h1 {
    font-family: Monoton;
    font-size: 2.6rem;
    margin: 0.2em;
    color:pink;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 55%;
    padding: 5px 0px;
}

.container h2{
    width: 100%;
    font-family: Monoton;
    color: #d634eb;
}

.container div{
    width: calc(100% / 3);
    padding: 5px 0px;
    text-align: center;
}

.container div label{
    display: block;
    color: rgb(255, 17, 0);
    font-size: 1.25em;
    padding: 5px 0px;
}

.container div span{
    color: rgb(0, 0, 0);
    font-size: 1.25em;
    padding: 0px 5px;
}

.result{
    width: 55%;
    padding: 10px 0;
}

.result header{
    color: rgb(0, 0, 0);
    font-size: 1.6rem;
}
.result span{
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}


input[type=number] {
    width: 6em;
}

.msg{
    font-family: Monoton;
    color:#d634eb;
    word-spacing: 5px;

    width: 55%;
}