 .u-section-1 {
  background-image: none;
  min-height: 620px;
}

.u-section-1 .u-image-1 {
  width: 1088px;
  object-position: 0% 5.3%;
  left: auto;
  right: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 66px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 489px;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 2px;
  font-size: 3rem;
  line-height: 1;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 31px 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 4px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 34px auto 0 0;
  padding: 14px 59px 15px 58px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 489px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 453px;
  width: 618px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 553px;
  }

  .u-section-1 .u-image-1 {
    width: 721px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 61px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 403px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 10px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 432px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 413px;
    width: 564px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 579px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 331px;
  }

  .u-section-1 .u-image-2 {
    height: 316px;
    width: 432px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 900px;
  }

  .u-section-1 .u-image-1 {
    width: 590px;
    height: 465px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 435px 0 0 auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -840px;
    margin-bottom: 29px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 414px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 750px;
  }

  .u-section-1 .u-image-1 {
    width: 380px;
    height: 342px;
    margin-top: 408px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -690px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 261px;
  }

  .u-section-1 .u-image-2 {
    height: 249px;
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1312px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 287px auto 0 calc(((100% - 1140px) / 2) + 226px);
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 9px auto 0 calc(((100% - 1140px) / 2) + 151px);
}

.u-section-2 .u-shape-1 {
  height: 242px;
  margin-top: 149px;
  margin-bottom: 0;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: -316px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 42px));
  min-height: 391px;
  grid-gap: 63px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 32px;
}

.u-section-2 .u-icon-1 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
  padding: 27px;
}

.u-section-2 .u-text-3 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 35px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px 32px;
}

.u-section-2 .u-icon-2 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
  padding: 27px;
}

.u-section-2 .u-text-5 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 35px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px 32px;
}

.u-section-2 .u-icon-3 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
  padding: 27px;
}

.u-section-2 .u-text-7 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 35px auto 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 226px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 151px);
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 446px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 226px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2) + 151px);
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 31.5px));
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1151px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 170px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2) + 151px);
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1445px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-left: calc(((100% - 340px) / 2) + 107px);
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    margin-left: calc(((100% - 340px) / 2) + 95px);
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 786px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 726px;
}

.u-section-3 .u-container-layout-1 {
  padding: 11px 30px;
}

.u-section-3 .u-group-1 {
  min-height: 317px;
  width: 413px;
  height: auto;
  margin: 19px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-3 .u-image-1 {
  height: 257px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 726px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 0 2px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 0 0 2px;
}

.u-section-3 .u-text-3 {
  line-height: 1.8;
  letter-spacing: normal;
  margin: 14px 1px 0;
}

.u-section-3 .u-text-4 {
  line-height: 1.8;
  letter-spacing: normal;
  font-size: 1.5rem;
  margin: -95px 1px 0 48px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 26px auto 0 2px;
  padding: 17px 50px 17px 48px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 599px;
  }

  .u-section-3 .u-group-1 {
    width: 410px;
    height: auto;
  }

  .u-section-3 .u-image-1 {
    height: 357px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 599px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 459px;
  }

  .u-section-3 .u-group-1 {
    width: 300px;
  }

  .u-section-3 .u-image-1 {
    height: 222px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 689px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 691px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 434px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 819px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 699px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 17px;
}

.u-section-4 .u-text-1 {
  font-size: 3.5rem;
  font-weight: 600;
  margin: 59px 13px 0;
}

.u-section-4 .u-text-2 {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: 17px 0 0 26px;
}

.u-section-4 .u-image-1 {
  min-height: 699px;
  background-image: url("images/2325065_medium2000.jpg");
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 576px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 576px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 441px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 662px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 417px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 924px;
}

.u-section-5 .u-text-1 {
  font-family: Montserrat, sans-serif;
  margin: 60px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 60px;
  grid-auto-rows: 100%;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(5, calc(20% - 9.6px));
  min-height: 553px;
  grid-gap: 12px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 25px 14px;
}

.u-section-5 .u-image-1 {
  width: 190px;
  height: 190px;
  background-image: url("images/YatoImage2020-10-10at6.50.26PM.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 39px auto 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-5 .u-text-4 {
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  margin: 23px 0 0 6px;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
  padding: 27px;
}

.u-section-5 .u-icon-2 {
  height: 100%;
  padding: 27px;
}

.u-section-5 .u-icon-3 {
  height: 100%;
  padding: 27px;
}

.u-section-5 .u-icon-4 {
  height: 100%;
  padding: 27px;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 25px 14px;
}

.u-section-5 .u-image-2 {
  width: 190px;
  height: 190px;
  background-image: url("images/B612_20220304_230627_521.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 39px auto 0;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-5 .u-text-7 {
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  margin: 23px 0 0 6px;
}

.u-section-5 .u-social-icons-2 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-5 .u-icon-5 {
  height: 100%;
  padding: 27px;
}

.u-section-5 .u-icon-6 {
  height: 100%;
  padding: 27px;
}

.u-section-5 .u-icon-7 {
  height: 100%;
  padding: 27px;
}

.u-section-5 .u-icon-8 {
  height: 100%;
  padding: 27px;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 25px 14px;
}

.u-section-5 .u-image-3 {
  width: 190px;
  height: 190px;
  background-image: url("images/IMG20220327130458.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 39px auto 0;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-5 .u-text-10 {
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  margin: 23px 0 0 6px;
}

.u-section-5 .u-social-icons-3 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-5 .u-icon-9 {
  height: 100%;
  padding: 27px;
}

.u-section-5 .u-icon-10 {
  height: 100%;
  padding: 27px;
}

.u-section-5 .u-icon-11 {
  height: 100%;
  padding: 27px;
}

.u-section-5 .u-icon-12 {
  height: 100%;
  padding: 27px;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 25px 14px;
}

.u-section-5 .u-image-4 {
  width: 190px;
  height: 190px;
  background-image: url("images/fsr.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-11 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 39px auto 0;
}

.u-section-5 .u-text-12 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-5 .u-text-13 {
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  margin: 23px 0 0 6px;
}

.u-section-5 .u-social-icons-4 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-5 .u-icon-13 {
  height: 100%;
  padding: 27px;
}

.u-section-5 .u-icon-14 {
  height: 100%;
  padding: 27px;
}

.u-section-5 .u-icon-15 {
  height: 100%;
  padding: 27px;
}

.u-section-5 .u-icon-16 {
  height: 100%;
  padding: 27px;
}

.u-section-5 .u-list-item-5 {
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding: 25px 14px;
}

.u-section-5 .u-image-5 {
  width: 190px;
  height: 190px;
  background-image: url("images/fsr.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-14 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 39px auto 0;
}

.u-section-5 .u-text-15 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-5 .u-text-16 {
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  margin: 23px 0 0 6px;
}

.u-section-5 .u-social-icons-5 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-5 .u-icon-17 {
  height: 100%;
  padding: 27px;
}

.u-section-5 .u-icon-18 {
  height: 100%;
  padding: 27px;
}

.u-section-5 .u-icon-19 {
  height: 100%;
  padding: 27px;
}

.u-section-5 .u-icon-20 {
  height: 100%;
  padding: 27px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-5 .u-list-1 {
    height: auto;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 456px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
  }

  .u-section-5 .u-text-10 {
    margin-left: 0;
  }

  .u-section-5 .u-text-13 {
    margin-left: 0;
  }

  .u-section-5 .u-text-16 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1408px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 8px));
    min-height: 1164px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2518px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 6px));
    min-height: 1964px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1408px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 570px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-6 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 30px auto 0;
}

.u-section-6 .u-accordion-1 {
  width: 992px;
  margin: 30px auto 60px;
}

.u-section-6 .u-accordion-link-1 {
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 25px 20px;
}

.u-section-6 .u-icon-1 {
  height: 15px;
  width: 15px;
  background-image: none;
  padding: 27px;
}

.u-section-6 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-accordion-link-2 {
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 25px 20px;
}

.u-section-6 .u-icon-2 {
  height: 15px;
  width: 15px;
  background-image: none;
  padding: 27px;
}

.u-section-6 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-accordion-item-3 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-6 .u-accordion-link-3 {
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 25px 20px;
}

.u-section-6 .u-icon-3 {
  height: 15px;
  width: 15px;
  background-image: none;
  padding: 27px;
}

.u-section-6 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-accordion-item-4 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-6 .u-accordion-link-4 {
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 25px 20px;
}

.u-section-6 .u-icon-4 {
  height: 15px;
  width: 15px;
  background-image: none;
  padding: 27px;
}

.u-section-6 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    width: 626px;
  }

  .u-section-6 .u-accordion-1 {
    width: 940px;
  }

  .u-section-6 .u-icon-1 {
    color: rgb(255, 255, 255);
  }

  .u-section-6 .u-icon-2 {
    color: rgb(255, 255, 255);
  }

  .u-section-6 .u-icon-3 {
    color: rgb(255, 255, 255);
  }

  .u-section-6 .u-icon-4 {
    color: rgb(255, 255, 255);
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-accordion-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-accordion-1 {
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
  min-height: 738px;
}

.u-section-7 .u-shape-1 {
  height: 242px;
  margin-top: 155px;
  margin-bottom: 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1041px;
  margin: -348px auto 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 494px;
}

.u-section-7 .u-container-layout-1 {
  box-shadow: 0 0 25px 0 rgba(41,45,51,0.35);
  padding: 30px;
}

.u-section-7 .u-image-1 {
  width: 126px;
  height: 126px;
  background-image: url("images/DrEsraa.jpg");
  background-position: 50% 50%;
  margin: 66px auto 0;
}

.u-section-7 .u-text-1 {
  font-size: 1.0625rem;
  margin: 44px 1px 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  margin: 20px 1px 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 276px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 167px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 603px;
}

.u-section-7 .u-container-layout-4 {
  box-shadow: 0 0 25px 0 rgba(41,45,51,0.35);
  padding: 30px;
}

.u-section-7 .u-image-2 {
  width: 93px;
  height: 93px;
  background-image: url("images/download.jpeg");
  background-position: 50% 50%;
  margin: 17px auto 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.0625rem;
  margin: 34px 1px 0;
}

.u-section-7 .u-text-4 {
  font-style: normal;
  font-weight: 300;
  margin: 20px 1px 0;
}

.u-section-7 .u-layout-cell-5 {
  min-height: 494px;
}

.u-section-7 .u-container-layout-5 {
  box-shadow: 0 0 25px 0 rgba(41,45,51,0.35);
  padding: 30px;
}

.u-section-7 .u-image-3 {
  width: 126px;
  height: 126px;
  background-image: url("images/DrMohamed.jpg");
  background-position: 50% 50%;
  margin: 66px auto 0;
}

.u-section-7 .u-text-5 {
  font-size: 1.0625rem;
  margin: 46px 1px 0;
}

.u-section-7 .u-text-6 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  margin: 20px 1px 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-layout-cell-6 {
  min-height: 276px;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 700px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 446px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 249px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 151px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 544px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 446px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 249px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 651px;
  }

  .u-section-7 .u-shape-1 {
    height: 246px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 191px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 116px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 191px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 1014px;
  }

  .u-section-7 .u-shape-1 {
    height: 596px;
    margin-top: 136px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -672px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 430px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 261px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 430px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 1098px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 131px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 271px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 164px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 271px;
  }
}